@charset "UTF-8";

html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--all-text-color);
}

@font-face {
    font-family: 'CalistogaRegular';
    src: url('../fonts/Calistoga-Regular.ttf') format("truetype"),
        url('../fonts/Calistoga-Regular.woff') format("woff"),
        url('../fonts/Calistoga-Regular.eot') format('eot'),
        url('../fonts/Calistoga-Regular.woff2') format('woff2'),
        url('../fonts/Calistoga-Regular.svg') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'BricolageRegular';
    src: url('../fonts/BricolageGrotesque-Regular.woff') format('woff');
    font-weight: 400;

}

@font-face {
    font-family: 'BricolageSemiBold';
    src: url('../fonts/ORIGINAL/BricolageGrotesque-SemiBold.ttf') format('truetype');
    font-weight: 400;
}

:root {
    --color-background: #fffdf7;
    --color-primary-02: #3E2724;
    --color-primary-01: #5F352F;
    --color-primary-03: #F3E9E7;
    --color-secondary-03: #FF6D74;
    --color-terciary-03: #FFB2B8;
    --color-terciary-06: #DA4E53;
    --all-text-color: #5f352f;
    --button-text-color: #F3E9E7;

    --font-tittle: 'CalistogaRegular', Georgia, Times, "Times New Roman", serif;
    --font-body: 'BricolageRegular', Verdana, Geneva, sans-serif;
    --font-caption: 'BricolageRegular', Verdana, Geneva, sans-serif;
    --font-captionbold: 'BricolageSemiBold', Verdana, Geneva, sans-serif;

}

h1 {
    font-family: var(--font-tittle);
    font-size: 4em;
    font-weight: 400;
}

.herofarm {
    display: block;
    margin-top: 0;
    background-color: var(--color-primary-03);
    background-image: url('../img/IMAGENS/DESENHO-FAZENDA_full.jpg');
    height: 935px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size:;
    padding-top: 1vh;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 32px;

}

.menu-superior {
    display: flex;
    padding: 10px 32px;
    margin-top: 30px;
    background-color: var(--color-primary-03);
    border-radius: 30px;
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    max-height: 48px;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.nav-item a {
    font-family: var(--font-caption);
    font-size: 1em;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    gap: 32px;
    list-style: none;
}

.btn-social {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-icon {
    background-color: #FFB2B8;
    border-radius: 30px;
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-car {
    background-color: #FFB2B8;
    border-radius: 30px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-captionbold);
    font-size: 1em;
    font-weight: bold;
    gap: 16px;
}

.text-head {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 10vh;
}

.text-head>p {
    font-family: var(--font-captionbold);
    font-size: 1.5em;
}