@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--all-text-color);
}

/* @font-face {
    font-family: 'CalistogaRegular';
    src: url('../fonts/Calistoga-Regular.ttf') format("truetype"),
        url('../fonts/Calistoga-Regular.woff') format("woff"),
        url('../fonts/Calistoga-Regular.eot') format('eot'),
        url('../fonts/Calistoga-Regular.woff2') format('woff2'),
        url('../fonts/Calistoga-Regular.svg') format('svg');
    font-weight: 400;
} */

@font-face {
    font-family: 'BricolageRegular';
    src: url('../fonts/BricolageGrotesque-Regular.woff') format('woff');
    font-weight: 400;

}

@font-face {
    font-family: 'BricolageSemiBold';
    src: url('../fonts/ORIGINAL/BricolageGrotesque-SemiBold.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'BricolageBold';
    src: url('../fonts/ORIGINAL/BricolageGrotesque-Bold.ttf') format('truetype');
    font-weight: 400;
}

:root {
    --color-background: #fffdf7;
    --color-primary-02: #3E2724;
    --color-primary-01: #5F352F;
    --color-primary-03: #F3E9E7;
    --color-sombrabotao: #E7D8D5;
    --color-secondary-02: #FFEB99;
    --color-secondary-03: #FF6D74;
    --color-terciary-03: #FFB2B8;
    --color-terciary-06: #DA4E53;
    --all-text-color: #5f352f;
    --button-text-color: #F3E9E7;

    --font-tittle: "Calistoga", Georgia, Times, "Times New Roman", serif;
    --font-body: 'BricolageRegular', Verdana, Geneva, sans-serif;
    --font-caption: 'BricolageRegular', Verdana, Geneva, sans-serif;
    --font-captionbold: 'BricolageSemiBold', Verdana, Geneva, sans-serif;
    --font-button: 'BricolageBold', Verdana, Geneva, sans-serif;

}

h1,
h2,
h3,
h4,
p {
    text-wrap: balance;
}

h1 {
    font-family: var(--font-tittle);
    font-size: 4em;
    font-weight: 400;
    line-height: 1.250em;
}

h2 {
    font-family: var(--font-tittle);
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.250em;
}

h3 {
    font-family: var(--font-tittle);
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.250em;
}

h4 {
    font-family: var(--font-tittle);
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.250em;
}

p {
    font-family: var(--font-body);
    font-size: 1.2em;
    line-height: 1.5em;
}

.txt-small {
    font-family: var(--font-body);
    font-size: 0.9em;
    line-height: 1.5em;
}

.font-btn {
    font-family: var(--font-button);
    font-size: 1.25em;
    text-decoration: none;
}

.font-btn-small {
    font-family: var(--font-button);
    font-size: 1em;
    text-decoration: none;
}

.mt-1 {
    margin-top: .8rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: .8rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 16px;
}

.herofarm {
    display: block;
    margin-top: 0;
    background-color: var(--color-primary-03);
    background-image: url('../img/IMAGENS/DESENHO-FAZENDA_full.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    /* background-size: 2300px; */
    padding-top: 1vh;
}



.menu-superior {
    display: flex;
    padding: 1.9rem;
    margin-top: 30px;
    background-color: var(--color-primary-03);
    border-radius: 30px;
    list-style: none;
}

#burguer {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    max-height: 48px;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1.5rem;
}

.nav-item a {
    font-family: var(--font-caption);
    font-size: 1em;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--color-terciary-06);
}

.navbar-nav {
    display: flex;
    gap: 32px;
    list-style: none;
    margin-left: 1rem;
}

.btn-social {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-icon {
    background-color: var(--color-sombrabotao);
    border-radius: 30px;
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon:hover,
.nav-car:hover {
    background-color: var(--color-terciary-03);
}

.nav-car {
    background-color: var(--color-sombrabotao);
    border-radius: 30px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-captionbold);
    font-size: 1em;
    font-weight: bold;
    gap: 16px;
}

.text-head {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 10vh;
    padding-bottom: 40vh;
    padding-left: 2vw;
}

.text-head>p {
    font-family: var(--font-captionbold);
    font-size: 1.5em;
    padding-bottom: 10px;
}

.btn-marrom {
    background-color: var(--color-primary-01);
    border: 2px solid var(--color-primary-01);
    border-radius: 30px;
    padding: 8px 2.5rem;
    color: var(--button-text-color);
    font-family: var(--font-captionbold);
}

.btn-marrom:hover,
.btn-onlyborder:hover {
    background-color: var(--color-primary-02);
    border: 2px solid var(--color-primary-02);
    color: var(--button-text-color);
}

.btn-onlyborder {
    display: flex;
    background-color: var(--color-primary-03);
    padding: 8px 18px;
    border: 2px solid var(--color-primary-01);
    border-radius: 30px;
    justify-content: center;
    gap: 16px;
}

.herofarm {
    position: relative;
}

.big-cake-head {
    display: block;
    position: absolute;
    left: 65svw;
    max-width: 100%;
    translate: -50%;
    bottom: 5svh;
}



.servico {
    display: block;
    position: relative;
    margin-top: 0;
    background-color: var(--color-primary-03);
    background-image: url('../img/PATTERNS/pattern_azul.jpg');
    padding-top: 5vh;
}

.big-brand-central {
    position: absolute;
    left: 50%;
    max-width: 18vw;
    translate: -50% -50%;
    top: 0%;
    z-index: 10;
}

.box-yellow {
    background-color: var(--color-secondary-02);
    padding-top: 8vh;
    padding-bottom: 3vh;
    margin-bottom: 3vh;
    margin-top: 1vh;
    border: 20px solid transparent;
    border-image-source: url(../img/PATTERNS/border-dot.svg);
    border-image-slice: 80 fill;
    border-image-outset: 0.8;
    border-image-repeat: round;
    z-index: 0;
}


.box-yellow::before {
    content: "";
    background-image: url(../img/IMAGENS/morango-flutuante/morango-flutuante_1_5x.webp);
    position: absolute;
    background-size: cover;    
    background-position: center center;
    
    width: 160px;
    height: 220px;
    top: 1rem;
    left: 7rem;
    z-index: 1;
    background-repeat: no-repeat;
}

.box-yellow::after {
    content: "";
    background: url(../img/IMAGENS/tools-fluante1/tools-fluante1_1_5x.webp);
    position: absolute;        
    background-position: center center;
    width: 220px;
    height: 340px;

    
    background-size: cover;
    bottom: -2.5rem;
    right: 0rem;    
    
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    
}

.box-yellow h2 {
    text-align: center;
    margin-bottom: 25px;
}

.conteudo-boxy {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

    /* align-items: center; */
}

.conteudo-boxy>figure {
    grid-column: 2/5;
}

.bolo-polaroid {
    max-width: 100%;
}

.text-boxyellow {
    grid-column: 7/11;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.text-boxyellow span {
    font-family: var(--font-body);
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.5em;
}


.faixa-marrom {
    display: grid;
    position: relative;
    max-width: 100%;
    background-color: var(--color-primary-01);
    padding: 2rem;
    z-index: 10;
}

.como-fazemos {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 2rem;
}

.como-fazemos>div {
    display: flex;
    gap: 16px;
    max-width: 380px;
    align-items: center;
}

.icon-40 {
    max-width: 40px;
}

.icon-txt>p,
strong {
    font-family: var(--font-body);
    font-size: 1em;
    color: var(--button-text-color);
}

.cardapio {
    margin-top: 0;
    background-color: var(--color-primary-03);
    background-image: url('../img/PATTERNS/pattern_amarelo.jpg');
}

.box-produtos {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-primary-03);
    padding-top: 2vh;
    padding-bottom: 5vh;
    margin-bottom: 0;
    margin-top: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-image-source: url(../img/PATTERNS/border-dotcreme.svg);
    border-image-slice: 116 fill;
    border-image-outset: 1;
    border-image-repeat: round;
    position: relative;

    /* outline-offset: -15px;
    outline-width:; */
}

.box-produtos::after {
    content: "";
    background-image: url(../img/IMAGENS/brigs-flutuante1/brigs-flutuante1_1_5x.webp);
    width: 260px;
    height: 100%;
    position: absolute;
    right: -10rem;
    top: 2rem;
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-produtos {
    text-align: center;
}

.menu-caixaalta {
    font-family: var(--font-caption);
    text-transform: uppercase;
}

.cardapio-produtos {
    display: flex;
    max-width: 1400px;
    column-gap: 16px;
    grid-gap: 32px;
    padding-top: 2%;
    align-items: center;
}

.espaco-produto {
    max-width: 100svw;    
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit,minmax(300px, 3fr)); */
    min-height: fit-content;
    margin: auto;
    gap: 32px;
    padding: 16px;    
}

.card-item {
    display: flex;
    flex-flow: column wrap;
    max-width: 325px;
    height: 500px;
    justify-content: space-between;
    gap: 8px;
    padding: 16px;
    border-radius: 30px;
    border: 3px solid var(--color-primary-01);
}

.img-produto>img {
    border-radius: 30px;
    width: 100%;    
}


.conteudo-produto {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 8px;
}

.title-produto {
    font-family: var(--font-tittle);
    font-weight: 400;
    line-height: 1.2em;

}

.descrip-produto {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-family: var(--font-body);
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.4em;
    overflow: hidden;
    -webkit-box-orient: vertical;

}

.box-price {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 16px;
    padding: 8px;
    background: rgba(95, 53, 47, 0.10);
    border-radius: 40px;
}

.preco-errado {
    font-family: var(--font-body);
    text-decoration-line: line-through;
}

.select-cardapio {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 389px;
    height: 60px;
    padding: 8px;
    border-radius: 67px;
    background: rgba(95, 53, 47, 0.20);
    display: none;
}

.menu-rapido {
    display: flex;
    gap: 8px;

}

.cheirinho {
    padding-bottom: 3%;
    padding-top: 5%;
}

.box-cheirinho {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
}

.box-cheirinho>:nth-child(1) {
    grid-column: 1/13;
    grid-row: 1;
    max-width: 100%;
    opacity: 1;
    place-self: center center;
}

.box-cheirinho>:nth-child(2) {
    align-content: start;
    grid-column: 1/4;
}

.box-cheirinho>:nth-child(3) {
    grid-column: 4/7;
    padding-top: 3rem;
    align-content: center;
}

#bolo-cenoura {
    grid-column: 7/14;
    max-width: 100%;
}

.depoimento {
    background-color: var(--color-primary-03);
    background-image: url(../img/IMAGENS/TEXTURAPAPEL-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.caixa-depoimento {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    padding: 2% 0 2% 0;
    align-items: center;
}

.caixa-depoimento>img {
    grid-column: 1/6;
    width: 88%;
}

.conteudo-depoimento {
    grid-column: 6/13;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    background-color: var(--color-background);
    border: 30px solid transparent;
    border-image-source: url(../img/PATTERNS/borda_depoimentos-01.svg);
    border-image-slice: 120 fill;
    border-image-outset: 0;
    border-image-repeat: round;
    /* padding: 3rem; */
    height: 430px;
}

.conteudo-depoimento>div {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}


.conteudo-depoimento>div>h4 {
    text-align: right;
    padding-right: 2rem;
}

.conteudo-depoimento>div :nth-child(4) {
    margin-left: auto;
}


.foto-depoimento {
    width: 187px;

}

.box-proposito {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    position: relative;
}

.box-proposito::before {
    content: "";
    background-image: url(../img/IMAGENS/brigs-flutuante2/brigs-flutuante2_1_5x.webp);
    width: 230px;
    height: 100%;
    position: absolute;
    left: -4rem;
    top: -4rem;
    background-repeat: no-repeat;
    background-size: 100%;
}



.box-proposito img {
    grid-column: 1/6;
    width: 90%;
}

.box-proposito .conteudo-proposito {
    grid-column: 7/13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.contato {
    background-color: var(--color-primary-03);
}

.conteudo-rodape {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    padding-top: 5vh;
    padding-bottom: 10%;
}


/* .conteudo-rodape::before {
    content: "";
    background-image: url(../img/IMAGENS/manteiga-flutuante/manteiga-flutuante_1_5x.webp);
    width: 260px;
    height: 100%;
    position: absolute;
   
    background-repeat: no-repeat;
    background-size: 30%;
} */


.convite-rodape {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.paracontato-rodape {
    grid-column: 5/13;
    align-self: flex-end;
}


.icon-rodape {
    display: flex;
    gap: 24px;
    place-items: start center;
}

.text-rodape {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-mailing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* gap: 8px; */
    margin-top: 2rem;
}


.placeholder-geral {
    display: flex;
    align-content: center;
    gap: 0.5rem;
    align-items: flex-start;
    align-self: stretch;
    border: none;
}

.placeholder-txt label {
    display: hidden;
}

.placeholder-txt>input {
    border: 1px solid var(--color-secondary-03);
    background-color: var(--color-primary-03);
    padding: .4rem;
    border-radius: 25px;
    font-family: var(--font-body);
    color: var(--color-secondary-03);
    font-weight: 400;
    font-size: 1em;
}

.button-submit input {
    border: 1px solid var(--color-secondary-03);
    background-color: var(--color-secondary-03);
    padding: .4rem;
    border-radius: 25px;
    font-family: var(--font-button);
    color: var(--button-text-color);
    font-weight: 400;
    font-size: 1em;
}

.placeholder-txt>input:hover {
    border: 1px solid var(--color-primary-01);
    outline: 1px solid var(--color-primary-01)
}

.button-submit input:hover {
    background-color: var(--color-terciary-06);
    border: 1px solid var(--color-terciary-06);
}

.button-submit input:active {
    background-color: var(--color-sombrabotao);
    border: 2px solid var(--color-primary-02);
}



::placeholder {
    padding-left: .5rem;
    color: var(--color-primary-02);
    font-size: 1em;
    font-family: var(--font-body);
}


footer {
    background-color: var(--color-primary-01);
}


.footer-text {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.footer-text>p {
    font-family: var(--font-body);
    color: var(--button-text-color) !important;
    font-weight: 400;
    letter-spacing: 0.08em;
}






/* main {
    max-width: 1440px;
} */


/* .btn-icon-left {
    padding-left: 70px;
} */