dialog h1 {
    font-size: var(--text-3xl);

}

dialog h2 {
    font-size: var(--text-xl);
}

dialog h3 {
    font-size: var(--text-lg);
}

dialog p {
    font-size: var(--text-base);
}

body.modal-open {
    overflow: hidden;
}

.modalproduct-overlay {
    display: none;
    /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    overflow: auto;
}



.product-modal {
    position: relative;
    width: 65%;
    max-width: 1200px;
    margin: 5vh auto;
    background-color: var(--color-background-modal);
    z-index: 9999;
    padding: var(--spacing-6);
    border-radius: var(--radius-md);
    max-height: 90vh;
    overflow: auto;
}


.modal-content {
    position: relative;
    width: 90%;
    border-radius: var(--radius-lg);
    padding: 24px;
    z-index: 10000;
}

.modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    font-size: var(--text-xl);
    border-radius: var(--radius-xl);
    border: none;
    background-color: var(--color-sombra);
    cursor: pointer;
    z-index: 10001;
    /* Garantir que esteja acima do conteúdo do modal */
}

.modalproduct-overlay .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.modal-bodytop {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
}

.modal-bodybottom {
    margin-top: var(--spacing-4);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.txt-1 h2,
.txt-1 h3 {
    margin-bottom: var(--spacing-2);
}


/* Estilos para a imagem do modal */
.modal-image-gallery {
    flex: 1 0 50%;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: var(--radius-md);
    box-shadow: 0 4px 12px rgba(95, 53, 47, 0.15);
    border: 1px solid var(--color-primary-03);
    transition: transform 0.3s ease;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Mantém as proporções sem distorcer */
    display: block;
}

/* Efeito hover suave */
.modal-image-gallery:hover {
    transform: scale(1.02);
}

.modalproduct-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.metaproduct-description {
    font-size: var(--text-sm);
}

.info-selos {
    padding-top: var(--spacing-4);
}


.purchase-controls-modal {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    gap: var(--spacing-4);
}

.purchase-controls-modal div {
    flex: 1 1 100px;
    border-radius: 50px;
    background-color: var(--color-sombra);
}

.purchase-controls-modal button {
    flex: 2 1 100px;
    gap: var(--spacing-4);
    border-radius: 50px;
}

.modalproduct-title h1 {
    margin-bottom: var(--spacing-2);
}

.purchase-controls-modal .qty-btn {
    background-color: transparent;
    box-shadow: none;

}

.add-to-cartproduct {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-addcart-02);
    color: var(--color-background);
    border: none;
    border-radius: var(--radius-xl);
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-md);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cartproduct:hover {
    background-color: var(--color-addcart-01);
}

.add-to-cartproduct .cart-modal {
    display: block;
    position: relative;
    fill: var(--color-background-modal);
    width: 32px;
    height: 32px;
    margin: 0;
}

.peso-rende {
    display: flex;
}

.peso-rende p {
    padding-right: 16px;
    border-right: 2px solid var(--color-primary-01);
}

.peso-rende span {
    font-size: var(--text-xl);
    font-family: var(--font-title);
    font-weight: var(--font-weight-regular);
}

.peso-rende p:last-child {
    padding-left: 16px;
    border-right: none;
}

.icon-selos {
    width: 60px;
    height: 60px;
    margin: var(--spacing-2);
    transition: transform 0.3s ease;
}

.icon-selo:hover {
    transform: scale(1.1);
}

.selos-modalproduto {
    display: flex;
    justify-content: space-around;
}

.selos-modalproduto div {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
}

.selos-modalproduto p {
    font-weight: var(--font-weight-extrabold);
    font-size: var(--text-xs);
    line-height: var(--spacing-4);
    text-transform: uppercase;
}

.price-andbag {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    padding-top: var(--spacing-4);
}

.price-container-productmodal {
    width: 100%;
    display: flex;
    gap: var(--spacing-4);
    align-items: center;
    justify-content: center;
    /* Adicione esta linha para alinhar à direita */
}

.line-div {
    border-top: 1px solid var(--color-primary-01);
    opacity: .3;
}

.line-div-dashed {
    border-bottom: 1px dashed var(--color-sombra);
}



.navbar-modalproduct {
    width: 100svw;
}

.navbar-modal {
    display: flex;
    gap: var(--spacing-4);
    width: 100%;
    height: 28px;
    flex-flow: row wrap;

}

.nav-itemmodal {
    list-style: none;
    font-family: var(--font-body);
    font-weight: var(--font-weight-extrabold);
    font-size: var(--text-sm);
    flex: 0 1 180px;
}


.nav-itemmodal:hover {
    border-bottom: 3px solid var(--color-terciary-03);
    background-color: none;
    color: var(--color-terciary-06);
    box-sizing: content-box;
}

.nav-itemmodal:active {
    border-bottom: 3px solid var(--color-terciary-06);
    background-color: none;
    color: var(--color-primary-01);
    box-sizing: content-box;
}

.conteudo-navmodal div {
    margin-top: var(--spacing-2);

}

.aba-modal {
    display: flex;
    gap: var(--spacing-4);
    align-items: center;
}

/*.aba-modal div:first-child{
    background-color: var(--color-sombra);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}*/

.img-modal {
    background-color: var(--color-sombrabotao);
    fill: var(--color-primary-01);
    width: 70px;
    height: 70px;
    padding: var(--spacing-2);
    fill-opacity: .4;
}




/* BARRA DE ROLAGEM*/

.product-modal::-webkit-scrollbar-track {
    border-radius: 8px;
}

.product-modal {
    scrollbar-width: thin;
    scrollbar-color: var(--color-sombra) var(--color-background-modal);
    }

@media (max-width: 768px) {
    .product-modal {
        width: 90%;
        padding: var(--spacing-4);
    }
}