@charset "UTF-8";

html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--all-text-color);
}

h1 {
    font-family: var(--font-tittle);
    font-size: 3.6em;
    font-weight: 400;
    line-height: 1.250em;
}

h2 {
    font-family: var(--font-tittle);
    font-size: 2.2em;
    font-weight: 400;
    line-height: 1.250em;
}

h3 {
    font-family: var(--font-tittle);
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.250em;
}

h4 {
    font-family: var(--font-tittle);
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.250em;
}

p {
    font-family: var(--font-body);
    font-size: 1.2em;
    line-height: 1.5em;
}

.txt-small {
    font-family: var(--font-body);
    font-size: 0.9em;
    line-height: 1.5em;
}

.font-btn {
    font-family: var(--font-button);
    font-size: 1.25em;
    text-decoration: none;
}

.font-btn-small {
    font-family: var(--font-button);
    font-size: 1em;
    text-decoration: none;
}

#burguer {
    display: block;
}

.menu-superior {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--color-primary-03);

}

.collapse {
    display: none;
}

nav .btn-social {
    display: none;
}

.navbar-brand {
    left: 18%;
}

.navbar-brand>img {
    width: 120px;
    margin-top: -0.5rem;
}

.text-head {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 10vh;
    padding-bottom: 15vh;
    padding-left: 2vw;
}

.text-head .btn-social {
    flex-direction: column;
    gap: 16px;
    align-items: start;
}

.servico::before {
    top: 55vh;
    background-size: 65%;
}

.box-yellow::before {
    content: "";
    background-image: none;
}

.box-yellow::after {
    content: "";
    background-image: none;
}

.conteudo-boxy {
    display: block;
}

.box-produtos::after {
    content: "";
    background-image: none;
}

.cheirinho {
    padding-left: 2vw;
    padding-right: 2vw;
}

.box-cheirinho {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.box-cheirinho>:nth-child(3) {
    padding-top: 0rem;

}

.depoimento {
    background-size: cover;
}

.caixa-depoimento {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding-bottom: 8vh;
}

.caixa-depoimento>img {
    display: none;
}

.conteudo-depoimento {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: none;
    padding-top: 32px;
    align-items: center;
    align-content: center;
    background-color: transparent;

}

.conteudo-depoimento>div {
    gap: 16px;
    max-width: 70vw;
    max-height: 100%;
}

.conteudo-depoimento>img {
    max-width: 50%;
}

.foto-depoimento {
    width: 30vw;
}

.box-proposito {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.box-proposito::after {
    right: auto;
    left: auto;
    max-width: 30vw;
    top: 55rem;
}

.box-proposito::before {
    content: "";
    background-image: none;  
}

.conteudo-proposito {    
    max-width: 80vw;
    padding-top: 32px;
    padding-bottom: 15vh;
}